.hovertext {
    position: relative;
    border-bottom: 2px dotted white;
}

.hovertext:before {
    content: attr(message);
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: rgb(103, 103, 7);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(129, 129, 9);
    padding: 5px;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.form-outline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: baseline;
}

.form-control {
    font-size: 15px;
    border-width: 3px;
}

.checkbox {
    display: none;
}

.checkbox-label {
    font-size: 15px;
    border-width: 3px;
    width: 100px;
    height: 20px;
    background-color: #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.checkbox:checked + .checkbox-label {
    border-color: green;
}