.hovertext {
    position: relative;
    border-bottom: 2px dotted white;
}

.hovertext:before {
    content: attr(message);
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: rgb(103, 103, 7);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(129, 129, 9);
    padding: 5px;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.checkbox {
    display: none;
}

.checkbox-label {
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: solid;
}

.form-outline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: baseline;
}

.form-control {
    font-size: 15px;
    border-width: 3px;
}

.border-green {
    border-color:green;
    color: green;
    font-weight:bolder;
}

#soh {
    display: flex;
    justify-content: center;
    align-items: center;
}

#soh:hover .soh {
    fill: yellow;
}

#soh2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#soh2:hover .soh {
    fill: yellow;
}