@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model Practica.Models.FormModels.Login

@section styles {
    <link href="~/Content/styles/login.css" rel="stylesheet" />
    <link href="~/Content/styles/modal.css" rel="stylesheet" />
}

<section class="vh-100 gradient-custom">
    <!-- Loading modal -->
    <div id="charging-icon" class="modal-background hidden">
        <div id="loading-icon" class="loading-content">
            <div style="color: rgb(129, 129, 9); text-decoration:solid; text-decoration-color: rgb(129, 129, 9);">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                    <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z" />
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                </svg>
                <h2>Iniciando Sesión...</h2>
            </div>
        </div>
    </div>
    <!------------------->

    <!-- Modal for invalid account -->
        <div id="account-modal" class="modal-background hidden">
            <div class="details-modal">
                <div class="disprow">
                    <div class="details-modal-title">
                        <h1>Cuenta no encontrada</h1>
                    </div>
                    <div class="">
                        <svg id="closeModal" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-x-square closeModalButton" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </div>
                </div>
                <div class="details-modal-content">
                    <p style="color:black;">
                        Correo electrónico o contraseña incorrecta.<br />
                        Si estas seguro de que ingresaste correctamenete los datos.<br />
                        pide ayuda a un administrador para entrar a tu cuenta.
                    </p>
                </div>
                <div class="btn btn-outline-success btn-sm" id="acceptModal">Aceptar</div>
            </div>
        </div>
    <!------------------------->

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Inicia Sesión</h2>
                            <p class="text-white-50 mb-5">Porfavor ingrese su correo y contraseña!</p>

                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm" }))
                            {

                                <div class="form-outline form-white mb-4">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", autocomplete = "email" })
                                    @Html.LabelFor(m => m.Email, "Correo Electrónico*", new { @class = "form-label", value = Model.Email })
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <div class="disprow">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", autocomplete = "current-password" })
                                        <a id="soh" class="ps-2" active="0">
                                            <svg id="visible" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="soh bi bi-eye hidden" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                            </svg>
                                            <svg id="invisible" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="soh bi bi-eye-slash" viewBox="0 0 16 16">
                                                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                                <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                                            </svg>
                                        </a>
                                    </div>
                                        @Html.LabelFor(m => m.Password, "Contraseña*", new { @class = "form-label", value = Model.Password })
                                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/">Olvidaste tu contraseña?</a></p>
                                </div>

                                <input id="LoginButton" class="btn btn-outline-light btn-lg px-5" type="button" value="Iniciar Sesión" disabled />
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Content/scripts/login.js"></script>
    <script src="~/Content/BootBox/bootbox.all.min.js"></script>
}
